<!DOCTYPE html>

<html>
    <head>
        <title>About this page</title>
    </head>

    <body>
        <h1>First lesson of learning Python</h1>
        <div>
            Single line of code to complete Hello World tutorial: <br/>
            <strong>print("Hello, World!")</strong>
            <br/>
            <br/>
            <br/>
        </div>
        <div>
            This tutorial has been put together by {{ my_name }}.
        </div>
        <div>
            <a href="/rango/">Home</a><br/>
            <img src="{{ MEDIA_URL}}cat.jpg"
                 alt= "Picture of cat">
        </div>
    </body>
</html>

